<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--    CONSOLE 로그 관련 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm} %logger{36}-%msg%n</pattern>
        </encoder>
    </appender>

    <!--    정상 로그 관련 설정-->
    <!--    로깅에서 rolling이라는 것은 일반적으로 날짜가 변함에 따라 별도의 파일 생성하는 것 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm} %logger{36}-%msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!--    에러 로그 관련 설정 -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>logs/app-error.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %logger{36}-%msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app-error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!--    info 로그의 경우 정상 log파일로 분리 -->
    <root level="info">
        <!--        console과 정상 log파일에 로그내용 추가 -->
        <!--    error 로그의 경우 에러 log파일로 분리 -->
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>
</configuration>