<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
    <div th:fragment="headerFragment">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a class="navbar-brand mx-auto" href="/"><h2>게시판 서비스</h2></a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="/author/list">회원관리</a>
                </li>
                <li class="nav-item" ><a class="nav-link" href="/post/list">게시글목록</a></li>
                <li class="nav-item"><a class="nav-link" href="/author/create">회원가입</a></li>

                <li class="nav-item" th:if="${session.email} == null">
                    <a class="nav-link" href="/author/login-page">로그인</a>
                </li>
                <li class="nav-item" th:if="${session.email} != null">
                    <a class="nav-link" href="/doLogout">로그아웃</a>
                </li>
<!--                doLogout을 통해 로그아웃 버튼을 누르면 로그인이 풀려, 회원관리, 게시글목록에 대한 접근이 불가능 해짐-->
            </ul>
        </nav>
    </div>
    </body>
</html>